html { 
	background: url(bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

#main {
	font-family: monospace;
	margin: 5em auto;
	text-align: center;
	color: #e2dbdb;
}

h1 {
	font-size: 3.75vw;
	margin: 0em;
}

h2 {
	font-size: 1.71vw;
	margin: 0em;
}

a {
	font-weight: bolder;
	text-decoration: none;
	color: #CCC;
}
